.form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.field {
  width: 300px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  border: 1px solid cadetblue;
  border-radius: 10px;
  padding: 8px;
}

.btn {
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #36d7b7;
}

.btn:focus,
.btn:active,
.btn:hover {
  border: none;
  outline: none;
  background-color: #2ca08c;
}
